- form_tag session_path do
  .table
    .row.clearfix
      = label_tag      :login
      = text_field_tag :login
    .row.clearfix
      = label_tag      :password
      = text_field_tag :password
    .row.clearfix
      = label_tag      :remember_me
      = check_box_tag :remember_me
    .row.clearfix.submit
      = submit_tag      'Log in'
