= error_messages_for :ladder
- form_for @ladder do |make|
  #create_ladder.table
    .table
      .header.clearfix Create a ladder
    .row.clearfix
      = make.label :name
      = make.text_field :name
    .row.clearfix
      = make.label :game
      = make.text_field :game
    .row.clearfix
      = make.label :email
      = make.text_field :email
    .row.clearfix.submit
      = make.submit 'Create'
