- if logged_in?
  - if @ladder.players.include?(current_player)
    - if current_player.pending_challenge?
      = render :partial => 'pending'
    - else
      = render :partial => 'challenge', :locals => {:ladder => @ladder}
    /= render :partial => 'acceptance'
  - else
    = render :partial => 'join'

.players.table
  .player.table
    .header.clearfix
      .span-8.prepend-1.player Player
      .span-2.wins Wins
      .span-2.losses Losses

  - @ladder.players.each do |player|
    .player.row.clearfix{:class => "#{player == current_player ? 'me' : ''}"}
      .span-1
        .rank.number= player.rank_for(@ladder).position
      .span-8.name= player.login
      .span-2.wins.number
      .span-2.losses.number
