- if logged_in?
  - if @ladder.players.include?(current_player)
    - if current_player.pending_challenge_on?(@ladder)
      - challenge = current_player.pending_challenge_on(@ladder)
      - if challenge.accepted? && challenge.challenger?(current_player)
        = render :partial => 'pending', :locals => {:ladder => @ladder}
      - if challenge.accepted? && challenge.challengee?(current_player)
        = render :partial => 'in_progress', :locals => {:challenge => challenge}
      - if challenge.unanswered? && challenge.challenger?(current_player)
        = render :partial => 'awaiting_answer', :locals => {:challenge => challenge}
      - if challenge.unanswered? && challenge.challengee?(current_player)
        = render :partial => 'acceptance', :locals => {:ladder => @ladder, :challenge => challenge}
    - else
      - if current_player.can_make_challenge?(@ladder)
        = render :partial => 'challenge', :locals => {:ladder => @ladder}
      - if challenge = Challenge.for_player(current_player).on_ladder(@ladder).last
        - if challenge.completed? && !challenge.won.nil?
          = render :partial => 'already_challenged_today', :locals => {:ladder => @ladder, :challenge => challenge}
        - if challenge.rejected? && challenge.challengee?(current_player) && challenge.won.nil?
          = render :partial => 'rejected_a_challenge', :locals => {:challenge => challenge}
        - if challenge.rejected? && challenge.challenger?(current_player) && challenge.won.nil?
          = render :partial => 'your_challenge_was_rejected', :locals => {:challenge => challenge}
  - else
    = render :partial => 'join'

%h2= @page_title = @ladder.name
.players.table
  .player.table
    .header.clearfix
      .span-8.prepend-1.player Player
      .span-2.wins Wins
      .span-2.losses Losses

  - if @ladder.players.empty?
    .player.row.clearfix
      .span-13.empty There are no players in this ladder.
  - else
    - @ladder.players.each do |player|
      .player.row.clearfix{:class => "#{'me' if player == current_player}"}
        .span-1
          .rank.number
            %span.support &nbsp;
            == ##{player.rank_for(@ladder).position}
        .span-8.name= player.login
        .span-2.wins.number= Challenge.for_player(player).on_ladder(@ladder).select{|c| c.won_by?(player)}.size
        .span-2.losses.number= Challenge.for_player(player).on_ladder(@ladder).select{|c| c.lost_by?(player)}.size
        - unless (todays_challenges = Challenge.for_player(player).on_ladder(@ladder).today).empty?
          - challenge = todays_challenges.first
          - if challenge.won?
            - won = challenge.won_by?(player)
            .result.number{:class => won ? 'won' : 'lost'}== #{won ? '+' : '-'}1
