= render :partial => 'challenge'
= render :partial => 'acceptance'
= render :partial => 'pending'
= render :partial => 'join'

.players.table
  .player.table
    .header.clearfix
      .span-8.prepend-1.player Player
      .span-2.wins Wins
      .span-2.losses Losses

  .player.row.clearfix
    .span-1
      .rank.number 1
    .span-8.name= link_to 'John Doe'
    .span-2.wins.number 13
    .span-2.losses.number 2

  .player.row.me.clearfix
    .span-1
      .rank.number 2
    .span-8.name Me Baby, Me!
    .span-2.wins.number 10
    .span-2.losses.number 2

  .player.row.clearfix
    .span-1
      .rank.number 3
    .span-8.name= link_to 'Jane Doe'
    .span-2.wins.number 9
    .span-2.losses.number 4

