= error_messages_for :player
- form_for @player do |f|
  %p
    = f.label :login
    = f.text_field :login
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = submit_tag 'Sign up'