= error_messages_for :player
- form_for @player do |make|
  .table
    .row.clearfix
      = make.label :login
      = make.text_field :login
    .row.clearfix
      = make.label :email
      = make.text_field :email
    .row.clearfix
      = make.label :password
      = make.password_field :password
    .row.clearfix
      = make.label :password_confirmation
      = make.password_field :password_confirmation
    .row.clearfix.submit
      = make.submit 'Sign up'