!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Title
    = stylesheet_link_tag 'blueprint/screen', 'application'
  %body
    .container
      %h1 Ladder Challenge
      #auth.alt
        = link_to "Log In", login_path
        | 
        = link_to "Sign Up", signup_path
        |
        = link_to "Create ladder", new_ladder_path
      = yield
