!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Title
    = stylesheet_link_tag 'blueprint/screen', 'application'
    = javascript_include_tag 'jquery-1.2.6.min'

    / FACEBOX
    %link{ :href => "/facebox/facebox.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "/facebox/facebox.js", :type => "text/javascript" }

    = javascript_include_tag 'application.js'

  %body
    .container
      %h1= link_to 'Ladder Challenge', root_path
      %ul#navigation.alt
        - if logged_in?
          %li== #{link_to "Create ladder", new_ladder_path} |
          %li.last= link_to("Log Out", session_path, :method => :delete)
        - unless logged_in?
          %li== #{link_to "Log In", login_path, :rel => 'facebox'} |
          %li.last= link_to "Sign Up", signup_path, :rel => 'facebox'
      = yield
